.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    color: #333;
    background-color: #f8f9fa;
    border-bottom: 2px solid #e5e5e5;
}

.navbar .logo {
    width: max(12vw, 120px);
}

.navbar ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.navbar li {
    cursor: pointer;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: max(1vw, 12px);
}

.navbar select {
    padding: 5px 8px;
    border-radius: 6px;
    border: 2px solid white;
    background: plum;
    color: #333;
}

.navbar option {
    background-color: #09005c;
    color: white;
}

.navbar button {
     display: flex;
     align-items: center;
     gap: 10px;
     padding: 10px 25px;
     border-radius: 20px;
     font-size: 15px;
     font-weight: 500;
     color: white;
     background: var(--primary-color);
     border: none;
     cursor: pointer;
     transition: background 0.3s ease;
}

.navbar button:hover {
    background: #4a00b4; /* Slightly darker shade for hover */
}

.navbar img {
    width: 13px;
}

[data-theme="dark"] .navbar {
    color: #ddd; /* Light text for dark mode */
    background-color: #1a1a1a; /* Dark background */
    border-bottom: 2px solid #3c3c3c; /* Darker border */
}

[data-theme="dark"] .navbar select {
    background: transparent;
    color: white;
    border: 1px solid white;
}

[data-theme="dark"] .navbar button {
    background: white; /* Inverted for dark mode */
    color: #393939; /* Dark button text */
}

@media (max-width: 900px) {
    .navbar {
        padding: 20px 8%;
    }
    .navbar button {
        gap: 8px;
        padding: 8px 18px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 20px 5%;
    }
    .navbar ul {
        display: none;
    }
    .navbar button img{
        width: 12px;
    }

}